* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: bisque;
    /* height: 600px; */

    /* use the Flexbox module */
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse;  */
    /* flex-direction: column; */
    /* flex-direction: column-reverse' */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
}

.item {
    background-color: lightcoral;
    padding: 15px;
    margin: 15px;
}