h1 {
    /* font: 60px 'Charmonman', cursive; */
    font-family: 'Mali', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
}

img {
    width: 300px;
    height: auto;
    margin: 15px;
    filter: drop-shadow(16px 16px 20px);
}

img:hover {
    margin: 0px;
    width: 330px;
    transition-duration: 0.5s;
    transition-property: all;
    transition-delay: 0.1s;
    transition-timing-function: ease;
}

body {
    margin: 0;
    background: darkslategray;
}

.imageContainer {
    display: flex;
    flex-flow: row wrap;
    flex: auto;
}

#pic0 {
    /* This is a special image that changes to show the selected image */
    display: none;
    width: 600px;
    height: auto;
    margin: 15px;
    filter: none;
}


@media only screen and (max-width: 600px) {
    /* Change the layout to be mobile friendly */

}